/* landing.css */
.carousel-container {
    width: 100vw;
    overflow: hidden;
    margin: 0 auto; /* Center the carousel */
    position: relative;
  }
  
  .carousel-slide {
    position: relative;
  }
  
  .carousel-container img {
    width: 100%;
    height: 75vh; /* Full viewport height */
    object-fit: cover; 
  }
  
  .carousel-content {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .carousel-content h2 {
    margin: 0;
    font-size: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .carousel-content h2:hover{
    color: rgb(217,108,44);
  }
  
  .carousel-content p {
    margin: 10px 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .carousel-content button {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color:rgb(217,108,44) ;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
  }
  
  .carousel-content button:hover {
    background-color: white;
    color: black;
  }
  
  /* Customize slick dots */
  .slick-dots {
    bottom: 20px; /* Position the dots above the bottom of the viewport */
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: white; /* Color of the dots */
  }
  
  .slick-dots li.slick-active button:before {
    color: #007bff; /* Color of the active dot */

   
  }

  .carousel-container h3{
    margin-top: 1%;
      font-size: 2vw; 
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
      text-align: center;
      color: rgb(217,108,44);

  }
  
  .line-image{
    height: 10px;
    width: 100%;
  }
  .line-image img{
    width: 100%;
    height: 100%;
  }
  .landing-page{
    height: 100%;
    width: 100%;
    background-image: url("../assets/moviebg 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .video-section{
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .video-item {
    position: relative;
    overflow: hidden;
    border: 5px solid black;
    height: 200px; /* Adjust height as needed */
    width: 30%; /* Adjust width as needed */
    margin: 10px;
    transition: transform 0.3s ease-in-out; /* Transition for zoom effect */
  }
  
  .video-item:hover {
    transform: scale(1.03); /* Zoom effect on hover */
    border: 5px solid rgb(217,108,44);
  }
  
  .video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    width: 100%;
    opacity: 0; /* Hide content initially */
    transition: opacity 0.3s ease-in-out; /* Transition for opacity */
  }
  
  .video-item:hover .video-content {
    opacity: 1; /* Show content on hover */
  }
  
  .video-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out; /* Transition for image */
  }
  
  .video-item:hover img {
    transform: scale(1.1); /* Zoom effect on hover */
  }
  
  .movie-playing{
    height: 10vh;
    width: 100vw;
    /* border: 1px solid black; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1vw;
    color:rgb(217,108,44) ;
  }
  .movie-playing h3{
    font-size: 20px;
    color: rgb(131,131,131);
    font-weight: 400;
  }
  .movie-playing-child {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.card {
    width: 272px;
    height: 390px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Smooth transition for image */
}

.card:hover img {
    transform: scale(1.1); /* Scale image on hover */
}

.card-info {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 10px; /* Space between the card and the info */
}

.card-info h2 {
    font-size: 1.25em;
    margin: 0.5em 0;
}

.card-info p {
    font-size: 1em;
    padding: 0 1em;
}

.premiere-child{
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 

}
.premiere-card-container{
  width: 40%;
  height: 100%;
  border: 1px solid green;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}

.premiere-card-container img{
  width: 70%;
  height: 50%;
  /* border: 1px solid red; */
 
}
.premiere-card-info{
  margin-top: -20%;
  background-color: rgb(255, 255, 255);
  border: 1px solid red;
  align-items: center;
  height: 100%;
  width: 90%;
}
.premiere-card-info h2,p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}