/* MovieDetails.css */
.bookTicket {
  height: 10%;
  width: 20%;
  margin: 1%;
  padding: 1%;
  background-color: rgb(217, 108, 44);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
  border: none;
  cursor: pointer;
}

.bookTicket:hover {
  background-color: rgb(216, 207, 207);
  color: black;
}

.movie-detail {
  
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie-detail h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie-detail p {
  font-size: 1.2em;
  line-height: 1.6;
}

.movie-detail h2 {
  font-size: 1.5em;
  margin-top: 1em; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cast, .crew {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em; 
}

.cast-member, .crew-member {
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.cast-member:nth-child(1) {
  animation-delay: 0.2s;
}

.cast-member:nth-child(2) {
  animation-delay: 0.4s;
}

.cast-member:nth-child(3) {
  animation-delay: 0.6s;
}

.cast-member:nth-child(4) {
  animation-delay: 0.8s;
}

.cast-member:nth-child(5) {
  animation-delay: 1s;
}

.crew-member:nth-child(1) {
  animation-delay: 0.2s;
}

.crew-member:nth-child(2) {
  animation-delay: 0.4s;
}

.crew-member:nth-child(3) {
  animation-delay: 0.6s;
}

.cast-item, .crew-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.cast-item img, .crew-item img {
  width: 100%;
  max-width: 150px;
  height: 150px; 
  border-radius: 5px;
  object-fit: cover; 
}

.cast-item p, .crew-item p {
  margin-top: 10px;
  font-size: 0.8em;
}

.cast-member {
  margin-bottom: 1em; 
}

.crew-member {
  margin-top: 1em; 
}
