
 .booking-movie {
  height: auto;
  width: 100%;  
}

.booking-movie-child {
  padding: 5px;
  display: flex;
  align-items: center;
  height: 40%;
  width: 100%;
  background-color: rgb(44, 39, 52);
}

.booking-movie-image {
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  width: 46%;
  height: 100%;
  object-fit: cover;
}

.booking-movie-details {
  height: 90%;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.movie-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
}

.movie-time {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
}

.movie-details-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
}

.Date {
  height: 8%;
  width: 100%;
  background-color: rgb(221, 214, 205);
  display: flex;
  align-items: center;
}

.Date-child {
  margin-left: 5%;
  display: flex;
}

.Date-child button {
  margin: 0.1%;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.Date-child button:hover {
  background-color: #e0e0e0;
}

.Date-child button:focus {
  outline: none;
  background-color: #37d832;
}

.TheaterList {
  margin-top: 20px;
  padding: 10px;
}


.TheaterList-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.theater-info h2 {
  font-size: 0.9vw;
  font-family: "Poppins";
  margin: 0;
}

.theater-info p {
  font-family: "Poppins";
  color: #7c7a7a;
  margin: 5px 0 0 0;
}

.theater-distance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.theater-distance span {
  margin-right: 10px;
}

.theater-distance button {
  font-family: "Poppins";
  padding: 8px 16px;
  background-color: rgb(217, 108, 44);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff;
  border: none;
  cursor: pointer;
}

.theater-distance button:hover {
  background-color: rgb(218, 210, 210);
  color: black;
}
.theater-showtimes {
  font-family: "Poppins";
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theater-showtimes button{
  color: #37d832;
  font-weight: 600;
  margin: 0.1%;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #37d832;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.theater-showtimes button:hover{
  color: rgb(7, 7, 7);
  border: 1px solid rgb(217, 108, 44);
}
