.dashbord-navbar {
  padding: 1%;
  margin-right: 20%;
  height: 10%;
  width: calc(100% - 250px); 
  background: white;
  color: #b8b6b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  border-bottom: 3px solid #405189; 
  position: fixed;
  top: 0;
  transition: width 0.3s ease; 
}

.dashbord-navbar.collapsed {
  width: calc(100% - 80px); 
}

.dashbord-navbar-logo {
  flex: 1;
}

.dashbord-logo {
  height: 40px;
}

.dashbord-navbar-title {
  font-family: "poppins";
  flex: 2;
  text-align: center;
  margin-left: 15%;
}

.dashbord-navbar-title h1 {
  font-weight: 400;
}

.dashbord-navbar-profile {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dashbord-navbar-icon {
  color: #9898a8;
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
}

.dashbord-navbar-icon:hover {
  color: #ddd;
}
.dashbord-navbar-title{
font-size: 70%;
}
