
/* src/index.css or App.css */


.dashboard-home {
  margin-top: 10%;
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.dashboard-home h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.chart-container {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
}

.chart-container h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}


@media (max-width: 768px) {
  .chart-container {
    min-width: 100%;
  }
}
