/* src/Dashbord/greeting.css */

.greeting {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .greeting-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .greeting h2 {
    color: #9898a8;
    font-size: 1.3em;
    margin: 0;
  }
  
  .greeting p {
    color: #686874;
    font-family: "Poppins", sans-serif;
    margin: 10px 0 0;
  }
  
  .calendar-container {
    position: relative;
  }
  
  .calendar-icon {
    background: none;
    border: none;
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .calendar-icon:hover {
    color: #666;
  }
  
  .calendar-popup {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px; /* Adjust width as needed */
    max-height: 400px;
    overflow-y: auto;
  }